<a href="https://colab.research.google.com/github/AshwaniKrSonu619/Python-Bootcamp/blob/main/Python_Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python String:**

Strings are sequences of characters. Your name can be considered a string. Or, say you live in Zambia, then your country name is "Zambia", which is a string.

In this tutorial you will see how strings are treated in Python, the different ways in which strings are represented in Python, and the ways in which you can use strings in your code.


**How to create a string and assign it to a variable**

To create a string, put the sequence of characters inside either single quotes, double quotes, or triple quotes and then assign it to a variable. You can look into how variables work in Python in the Python variables tutorial.

**For example, you can assign a character ‘a’ to a variable single_quote_character. Note that the string is a single character and it is “enclosed” by single quotes.**

In [1]:
single_quote_character = 'a'
print(single_quote_character)

a

In [3]:
print(type(single_quote_character)) # check the type of the variable.
#<class 'str'>

<class 'str'>

**Also check out if you can assign a sequence of characters or multiple characters to a variable. You can assign both single quote sequences and double quote sequences.**

In [4]:
double_quote_multiple_characters = "aeiou"
single_quote_multiple_characters = 'aeiou'
print(type(double_quote_multiple_characters), type(single_quote_multiple_characters))
#<class 'str'> <class 'str'>

<class 'str'> <class 'str'>

In [5]:
#Interestingly if you check the equivalence of one to the other using the keyword is, it returns True.

print(double_quote_multiple_characters is double_quote_multiple_characters)

True

In [8]:
#Take a look at assignment of strings using triple quotes and check if they belong to the class str as well.

triple_quote_example = """this is a sentence written in triple quotes"""

print(type(triple_quote_example))

#<class 'str'>


#In the examples above, the function type is used to show the underlying class that the object will belong to. 
#Please note that all the variables that have been initiated with single, double, or triple quotes are taken as string. 
#You can use single and double quotes for a single line of characters. Multiple lines are generally put in triple quotes.

<class 'str'>

**String common methods**

In [15]:
# Get the index of a substring in a string.

# find the index of a "c" in a string "abcde"

"abcde".index("c")


# 2 is returned because the position of the individual letters in the strings is 0-indexed. So, index of "a" in "abcde" is 0, that of "b" is 1, and so on.

2

In [14]:
"Ashwani Kumar Snu".index("S")

14

***Test if a substring is a member of a larger string. This is done using the keyword in and writing the test. The skeleton is shown below.***

**substring in string**

In [17]:
 # for example, test if string "i" is present in string "pythonic" at least once. "i" is present in the string. Therefore, the result should be true.
 
"i" in "pythonic"

True

In [18]:
# as "x" is not present in the string "pythonic" the below test should return false

"x" in "pythonic" # "x" is not present in "pythonic"

False

**Join a list of strings using the join method. A list of strings is written by delimiting the sequence with a comma ,, and enclosing the whole group with brackets [...]. For a more detailed tutorial on lists head over to the python lists tutorial. You can join a list of strings by giving the delimiter as the object on which the method join will act and the list of strings as the argument.**

In [23]:
# join a list of strings 1, 2, 3 with a space as a delimiter and 1,2,3 as the list of strings. So, the result will be the strings with spaces between them.

combined_string = " ".join(["1", "2", "3"])
'1 2 3'

'1 2 3'

**Break a string based on some rule. This takes in the string as the object on which the method split is passed using the dot operator. Splitting takes a space as the default parameter.**

For example you can split a string based on the spaces between the individual values.

In [25]:
# split the string "1 2 3" and return a list of the numbers.
"1 2 3".split() # splitting
['1', '2', '3']

['1', '2', '3']

**Or you can split a string based on a delimiter like :.**

**Access individual characters in a string. Note the first element has index 0. You access the first element with the index 0, second element with the index 1, and so on.**

In [38]:
lang = "python"
print(lang[0])
print(lang[2]) # access the 3rd letter
print(lang[5])
print(lang[4])

print(lang[-3]) # access the third letter from the end.

p
t
n
o
h

**Formatting in String:**

String object can be formatted. You can use %s as a formatter which will enable you to insert different values into a string at runtime and thus format the string. The %s symbol is replaced by whatever is passed to the string.

In [39]:
print("I love %s in %s" % ("programming", "Python")) # templating strings

I love programming in Python

In [44]:
# We can also use the keyword format. This will enable you to set your own formatters instead of %s.

print("I love {programming} in {python}".format(programming="programming", python="Python"))


print("I love {python} in {colab}".format(python="python", colab="colab"))

I love programming in Python
I love python in colab

In [49]:
#   Truth value testing of String

#  A string is considered to be true in Python if it is not an empty string. So, we get the following:

# Test truth value of empty string

print(bool(""))


# Test truth value of non-empty string "x"

print(bool("x"))


print(int())
print(float())

False
True
0
0.0

In [59]:
# String  'str'


x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x)) 


# Int    'int'

x = 20

#display x:
print(x)

#display the data type of x:
print(type(x)) 



# Display Float

x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x)) 


# Display complex

x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>
20
<class 'int'>
20.5
<class 'float'>
1j
<class 'complex'>

In [63]:
# Display List
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x)) 

#display the len of x:
print(len(x))
print(len("banana"))

['apple', 'banana', 'cherry']
<class 'list'>
3
6

In [67]:
# Tuple 

x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x)) 
print(len(x))

('apple', 'banana', 'cherry')
<class 'tuple'>
3

In [73]:
tuple = ("apple", "banana", "cherry","watermelon","muskmelon",)
print(tuple)
print(len(tuple))
print(len("watermelon"))

('apple', 'banana', 'cherry', 'watermelon', 'muskmelon')
5
10

In [74]:
# Range  
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [77]:
# Dictionaries

x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x)) 
print(len(x))
print(len("John"))

{'name': 'John', 'age': 36}
<class 'dict'>
2
4

In [80]:
#  Dict

d = {'Ashwani':90,'Aditya':100,'Shubham':80,'Ajay':95}     #  Ashwani - Key   90 - its value   => key value


print(len(d))

print(d)        # printing  dictionaries

l = d.keys()
b = d.values()

print(b)


del d['Ashwani']     # for deleting key values in dictionaries 

d['Ashwani']  =100    # adding keyvalue to it .


marks = d['Aditya']
d['T'] =100


if ('Ashwani' in d):
     print("Yes")
else:
    print("no")
 
print(marks)

4
{'Ashwani': 90, 'Aditya': 100, 'Shubham': 80, 'Ajay': 95}
dict_values([90, 100, 80, 95])
Yes
100

In [83]:
# Set 

x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x)) 

print(len(x))
print(len("cheery"))

{'apple', 'banana', 'cherry'}
<class 'set'>
3
6

In [84]:
# Frozen set
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>

In [85]:
# Boolean
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [87]:
# Byte
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [88]:
# Bytearray

x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [89]:
# memoryview
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x7f430c5ec600>
<class 'memoryview'>

In [90]:
# none 
x = None

#display x:
print(x)

#display the data type of x:
print(type(x))

None
<class 'NoneType'>