<a href="https://colab.research.google.com/github/AshwaniKrSonu619/Python-Bootcamp/blob/main/Python_Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Conditionals***


**Python Control Structures - Loops and Conditionals**

You can control the flow of logic in your code through various methods.


***Basic control flows***

Selection (if statements)

Iteration (for loops)

More advanced control flows

Procedural Abstraction (functions)

Recursion

Concurrency

Exception Handling and Speculation

Nondeterminacy

In this tutorial you will come to know:

How to have sequential, selective and iterative flows in your code. This can be achieved using the for loop. How to achieve procedural abstraction. This can be done by the use of functions.

Other topics like Recursion, Exception Handling, Concurrency will be discussed in later tutorials.

***Loops***

Working on items of the iterable

If you want to run an operation on a collection of items, then you can do it using for loops. The skeleton for using the for loop is shown below.Note that the for statement line will end with a colon : and the rest of the code block must be indented with a spacing of 4 spaces. An iterable is any object that can be looped on such as list, tuple, string etc.

In [ ]:
#for item in iterable: # you can place any list or tuple or string in place of iterable
    # write your code here.
  #pass

In [ ]:
fruits = ["apples", "oranges", "mangoes"]
for fruit in fruits:
     print(fruit)

apples
oranges
mangoes

In [ ]:
 int = [1,2,3,4,5]
 for int in int:
   print(int)

1
2
3
4
5

**Looping on both indexes and items**

In [ ]:
fruits = ["apples", "oranges", "mangoes"]
for index, fruit in enumerate(fruits):
  print("index is %s" % index)
  print("fruit is %s" % fruit)
  print("###########################")

index is 0
fruit is apples
###########################
index is 1
fruit is oranges
###########################
index is 2
fruit is mangoes
###########################

**While statement**

**Nested Loop**

In [ ]:
fruits = ["apples", "oranges", "mangoes"] # get the list

length = len(fruits) # get the length that will be needed for the while condition

i = 0 # initialise a counter

while i < length: # give the condition
         print(fruits[i]) # the code block
         i += 1 # increment the counter

apples
oranges
mangoes

In [ ]:
for i in range(1,3):
         for j in range(1,3):
                print('%d x %d = %d' % (i, j, i*j))

1 x 1 = 1
1 x 2 = 2
2 x 1 = 2
2 x 2 = 4

**Selection and Python If statements**

Creating if blocks


![Screenshot (75).png]()

In [ ]:
num = 42
if num == 42: # condition
     print("number is 42") # direction 1

number is 42

**Adding an else block:**

In [ ]:
num =43
if num ==42:
    print("number is 42")
else:
    print("number if not 42")

number if not 42

In [ ]:
num = 44
if num == 42:
    
         
         print("number is 42")
         
elif num == 44:
          
         print("num is 44")
         
else:
          
         print("num is neither 42nor 44")

num is 44

**Nested if statements**![Screenshot (75).png]()

In [ ]:
num = 42
if num > 20:
         if num < 50:
                  print("num between 20 and 50")

num between 20 and 50